.navMenu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  padding: 16px;
  align-items: start;
  flex-direction: column;
  background-color: rgba(106, 84, 255, 1);
  transition: 0.5s;
  z-index: 999;
  animation: animation 0.3s ease-in-out;
  .navMenuBody {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .closeBtn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    .li a {
      font-family: "IBM Plex Sans";
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0%;
      text-transform: uppercase;
    }
  }
  .authActionBtns {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;
    button {
      width: 100%;
      height: 52px;
    }
  }
}
.disActive {
  display: none;
  animation: animationClose 0.3s ease-in-out;
}
.navMobileLinks {
}

@keyframes animation {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes animationClose {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
