.reviewsContainer {
  background-color: #030718;
  padding: 98px 188px;

  .cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
    margin-top: 56px;

    .reviewCard {
      width: 522px;
      background: rgba(234, 239, 240, 0.2);
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 24px 16px;
      border-radius: 4px;

      img {
        width: 81px;
        height: 105px;
      }

      .reviewUserContent {
        h3 {
          font-family: "IBM Plex Sans";
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: rgba(255, 255, 255, 1);
        }

        p.profit {
          font-family: "IBM Plex Sans";
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: rgba(165, 174, 188, 1);
        }

        p {
          font-family: "IBM Plex Sans";
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  h1 {
    font-family: "IBM Plex Sans";
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    animation: anim 2s;
  }
}
.downloadMore {
  width: 100%;
  display: flex;
  margin-top: 72px;
  justify-content: center;
  button {
    width: 289px;
    height: 52px;
    background-color: transparent;
    font-family: "IBM Plex Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(87, 225, 255, 1);
    border: 2px solid rgba(87, 225, 255, 1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      transition: 0.3s ease-in-out;
      background-color: rgba(87, 225, 255, 1);
      color: rgba(3, 7, 24, 1);
    }
  }
}

@media (min-width: 1439px) {
  .reviewsContainer {
    display: flex;
    flex-direction: column;
  }
  .cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
  }
}
