.tradeBladeContainer {
  height: 788px;
  background-color: #030718;
  display: flex;
  justify-content: center;
  padding: 96px 80px;
  flex-direction: row;
  gap: 128px;
  h1 {
    font-family: "IBM Plex Sans";
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -4%;
    text-transform: uppercase;
    color: #fff;
    animation: anim 2s;
  }
  .tradeBladeContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 21px;
    .tradeCard {
      width: 413px;
      display: flex;
      align-items: start;
      flex-direction: row;
      gap: 32px;
      img {
        width: 56px;
      }
      .tradeCardText {
        h3 {
          width: 325px;
          font-family: "IBM Plex Sans";
          font-weight: 500;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -4%;
          color: #fff;
          overflow-wrap: break-word;
        }
        p {
          font-family: "IBM Plex Sans";
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0%;
          overflow-wrap: break-word;
          color: #fff;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .tradeBladeContainer {
    height: 100%;
    background-color: #030718;
    display: flex;
    justify-content: center;
    padding: 96px 80px;
    flex-direction: column;
    gap: 80px;
    h1 {
      font-family: "IBM Plex Sans";
      font-weight: 700;
      font-size: 44px;
      line-height: 56px;
      letter-spacing: -4%;
      text-transform: uppercase;
      color: #fff;
      animation: anim 2s;
    }
    .tradeBladeContent {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr !important;
      grid-template-rows: auto;
      row-gap: 20px;
      .tradeCard {
        width: 413px;
        display: flex;
        align-items: start;
        flex-direction: row;
        gap: 32px;
        img {
          width: 56px;
        }
        .tradeCardText {
          h3 {
            width: 325px;
            font-family: "IBM Plex Sans";
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -4%;
            color: #fff;
            overflow-wrap: break-word;
          }
          p {
            font-family: "IBM Plex Sans";
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            overflow-wrap: break-word;
            color: #fff;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .tradeBladeContainer {
    height: 100%;
    background-color: #030718;
    display: flex;
    justify-content: center;
    padding: 96px 80px;
    flex-direction: column;
    gap: 80px;
    h1 {
      font-family: "IBM Plex Sans";
      font-weight: 700;
      font-size: 44px;
      line-height: 56px;
      letter-spacing: -4%;
      text-transform: uppercase;
      color: #fff;
      animation: anim 2s;
    }
    .tradeBladeContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 21px;
      .tradeCard {
        width: 413px;
        display: flex;
        align-items: start;
        flex-direction: row;
        gap: 32px;
        img {
          width: 56px;
        }
        .tradeCardText {
          h3 {
            width: 325px;
            font-family: "IBM Plex Sans";
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -4%;
            color: #fff;
            overflow-wrap: break-word;
          }
          p {
            font-family: "IBM Plex Sans";
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            overflow-wrap: break-word;
            color: #fff;
          }
        }
      }
    }
  }
}
